<div id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <h2 class="section-heading" style="padding-bottom: 16px;">About Experiments In Play</h2>
    </div>

    <div class="row">
      <div class="text-muted" style="padding-top: 10px">

        <p><b>Experiments in Play</b> is a brand new showcase of inventive and experimental playful experiences that sit at the intersection of games, interactive design, and creative technology.</p>
        <p>Featuring work developed by students from the Independent Games &amp; Playable Experience Design MA at Goldsmiths, this unique showcase pushes the bounds of what games can offer as a medium and experiments with the vast capabilities of play. The show explores the possibilities of embodied and immersive storytelling and alternative narrative structures, considers how games are evolving to critically impact on issues of gender, mental health, sexuality and intimacy, and reimagines a world of gaming that champions inclusion and accessibility.</p>
        <p>The breadth of work on show includes physical performances and workshops, interactive literature, VR & AR experiences, alternative controllers, and playable works of art, as well as more traditional video game and board game experiences.</p>

        <!--<a href="https://www.facebook.com/events/383908462320405/" target="_blank" class="event-link">
          <span>September 18 &ndash; 21</span>
          <span>Click Me for Event Info!</span>
        </a>-->

        <img src="img/Exhibition_map.png" class="img-responsive">

      </div>
    </div>

    <div class="row">
      <h2 class="section-heading" style="padding-bottom: 16px;">Opening Night Gala Speakers</h2>

      <div class="text-muted" style="padding-top: 10px">

        <p>As part of the Experiments in Play showcase we are holding an Opening Night Gala, which will feature a series of talks and a panel discussion on narrative in games from 7:00-8:30pm. We are delighted to announce the following guests:</p>
        <p> </p>
      </div>

      <div class="row">
      <div class="col-md-6">
      <h4>Federico Fasce</h4>
      <p>Born in Genova in 1975 Federico has worked in and out the game industry since 1996. He sees himself as a game designer, though lately is questioning what games even mean, and he all in all doesn’t really care as long as people keep making cool things. He has also been an event organiser, a teacher and a mentor. He’s a strong advocate of personal games and he firmly believes that getting more people making games is the way to save the industry and push the form of expression forward.</p>
      </div>

      <div class="col-md-6">
      <h4>Florence Smith Nicholls</h4>
      <p>Florence is a Planning Archaeologist at Museum of London Archaeology. They conduct independent research in the nascent field of archaeogaming, which is the study of the intersection of video games and archaeology. They have published research on the concept of video games as digital dark tourism experiences, and have written for Eurogamer and Haywire.</p>
      </div>

    </div>
    </div>

    <div class="row">
<div class="col-md-6">
    <h4>Pavle Mihajlovic</h4>
    <p>Pavle Mihajlovic is the co-founder and Technical Director of Flavourworks. He moved to the UK from his native Portugal to start his game development career at 18 at Peter Molyneux's 22cans. He went on to start Flavourworks, where they released Erica, an innovative marriage of games and film published by Sony. Pavle is an active member of the game development community, and has done talks and panels about starting a game studio.</p>
  </div>
  <div class="col-md-6">
    <h4>Sofia Romualdo</h4>
    <p>Sofia is a PhD researcher at University of Exeter and real-world game designer with Fire Hazard Games. She belives in stories as a way of making sense of the world, in playfulness as a way to bring people together in a creative mindset, and in digital technology as a way to create bridges between these concepts. Her work focusees on creating multimodal and interactive storytelling experiences, taking advantage of different spaces' unique identity, resources and physical environment.</p>
  </div>
</div>

    </div>

    <div class="row">
      <h2 class="section-heading" style="padding-bottom: 16px;">Event Code of Conduct</h2>

      <div class="text-muted" style="padding-top: 10px">

        <p>We want the Experiments in Play event to be open and accessible to everyone, and we oppose all discrimination and harrassment in our community. We have drawn up a Code of Conduct, which can be read <a href=https://docs.google.com/document/d/1LoILdaUSs_C0i0EcSpFjDHrLVeVxq-NhGFQ4BCWium0/edit?usp=sharing>here</a>. Attendence of the event implies that the participants agree to, and will abide by, these rules.</p>
        <p> </p>

      </div>
    </div>


  </div>
</div>
