
<!-- <a href="https://www.facebook.com/events/188495395358508/" target="_blank" class="event-link">
  <span>September 20 &ndash; 23</span>
  <span>Click Me for Event Info!</span>
</a> -->

<div id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <h2 class="section-heading" style="padding-bottom: 16px;">About Experiments In Play</h2>
    </div>

    <div class="row">
      <div class="text-muted" style="padding-top: 10px">

        <p><b>Experiments in Play</b> is a brand new showcase of inventive and experimental playful experiences that sit at the intersection of games, interactive design, and creative technology.</p>
        <p>Featuring work developed by students from the Independent Games &amp; Playable Experience Design MA at Goldsmiths, this unique showcase pushes the bounds of what games can offer as a medium and experiments with the vast capabilities of play. The show explores the possibilities of embodied and immersive storytelling and alternative narrative structures, considers how games are evolving to critically impact on issues of gender, mental health, sexuality and intimacy, and reimagines a world of gaming that champions inclusion and accessibility.</p>
        <p>The breadth of work on show includes physical performances and workshops, interactive literature, VR & AR experiences, alternative controllers, and playable works of art, as well as more traditional video game and board game experiences.</p>

        <img src="img/Exhibition_map.png" class="img-responsive">

      </div>
    </div>
  </div>
</div>
