<!-- Team Section woot wooty woot -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                </div>
            </div>
            <div class="row team-wrap">

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/ben.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="https://twitter.com/friendcalledben" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/friendcalledben" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="http://www.afriendcalledben.com/" target="_blank">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Ben Tandy</h4>
                            <p>Ben is an interactive developer who started his career building a variety of interactive experiences for museums, galleries and expos. He now sells sausage and mash as a means of funding his main passion of making loud one-off arcade experiences with the goal of hitting that point in gameplay between absolute delirious elation and utter rage and despair.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/rowan.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="https://twitter.com/RowanMasJon" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Rowan MasJon</h4>
                            <p>A lifelong student with a passion for learning random stuff, Rowan fell in love with games design and development by chance! With a focus on empathy, Rowan plans to design unique games emphasising diversity and inclusivity in hopes of creating a happier future for all.
</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/tammu.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://twitter.com/vinnytammu" target="_blank">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="https://www.instagram.com/tammudo" target="_blank">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="https://www.tammudo.com" target="_blank">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Tammu Do</h4>
                            <p>Tammu is a dreamer, designer, and game developer. As a young immigrant and refugee from Vietnam, dreams and stories gave them hope and gratitude in settling in new places. As an adult, their dream strategies coupled with their multidisciplinary design practice propel their passion for revitalising game opportunities and experiences for the heart.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/clancy.png" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="https://twitter.com/_Fance" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/fanceclancy" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.clancy4u.co.uk" target="_blank">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Rachel Clancy</h4>
                            <p>Games have a fantastic power of disarmament, and can have a deep emotional impact when all we signed up for was fun entertainment. Clancy’s work brings together creative technologies, worldbuilding, storytelling, and often humour to create experiences for learning and reflection. She is particularly interested in gaming for mental health education.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/jo.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="http://jonland.io" target="_blank">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Jo Jonland</h4>
                            <p>Jo is currently working on achieving her childhood dream of saving the world, whilst also trying to make more space for play in her life. Her work is found where these two overlap, using mediums such as role play, board games, LARP , digital games and facilitated workshops to explore ways we can transform together.</p>
                        </div>
                    </div>
                </div>
<!--
                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                            <a href="https://twitter.com/YoungNickNack" target="_blank">
                                <img class="team-member-avatar" src="img/students/placeholder.jpg" class="img-responsive img-circle" alt="">
                            </a>
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="https://twitter.com/YoungNickNack">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.shalebridge.com">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Nicholas Young</h4>
                            <p>Player-choice grants us a voice, a voice to fight for our beliefs, to help us understand others and to ignore both the former and just run against a wall. From an intense background of drama school training Nick channels aggressive vulnerability and darkly abstract illustration to subvert himself and the world around him.
</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                            <a href="" target="_blank">
                                <img class="team-member-avatar" src="img/students/placeholder.jpg" class="img-responsive img-circle" alt="">
                            </a>
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://www.benedicthenshaw.com">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Benedict Henshaw</h4>
 <p>TO DO
</p>
                        </div>
                    </div>
                </div>-->

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/Yeonhee.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="https://www.instagram.com/heptapod__/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Yeonhee Choi</h4>
                            <p>As a disabled-queer-Asian woman, Yeonhee creates playful experiences “to see and to let ourselves be seen”.
</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/claire.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="https://twitter.com/aeraquena" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/aeraquena" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="http://www.clairekwong.com" target="_blank">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Claire Kwong</h4>
                            <p>Claire works with technology to create performances and interactive games. She aims to create visceral experiences, stage unusual encounters, and destabilise your sense of body. She also hopes to make you dance.
</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/george.png" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://twitter.com/Larkwrighter" target="_blank">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="https://georgelarkwright.com" target="_blank">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>George Larkwright</h4>
                            <p>George is a writer & game designer from London. He makes games that use play to satirise the society we live in, that tell stories in new and dynamic ways, and that strive to subvert the status quo, sparking discussion and debate.
</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/sohyun.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://sohyun2019.wordpress.com" target="_blank">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Sohyun An</h4>
                            <p>Sohyun is a game developer, designer and writer from South Korea. As a natural-born storyteller, she loves to discover stories from every single thing and hopes to share them with everyone in the world, via the medium of games.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/nick.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                  <li>
                                      <a href="https://twitter.com/YoungNickNack" target="_blank">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="https://shalebridge.com" target="_blank">
                                          <i class="fa fa-globe"></i>
                                      </a>
                                  </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Nicholas Young</h4>
                            <p>Player-choice grants us a voice, a voice to fight for our beliefs, to help us understand others and to ignore both the former and just run against a wall. From an intense background of drama school training Nick channels aggressive vulnerability and darkly abstract illustration to subvert himself and the world around him.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/plantain.png" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                                  <li>
                                      <a href="https://www.instagram.com/plantain_sama" target="_blank">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Dijiao 'Plantain' Wang</h4>
                            <p>Plantain is a budding Games Designer and Developer who hope to create games that inspire positivity in people using stories and emotions as mechanics. Plantain currently focuses on encouraging loving each other and the world.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/richard.jpg" class="img-responsive img-circle" alt="">

                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://twitter.com/_rRattner" target="_blank">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="https://rhatt.itch.io/" target="_blank">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Richard Rattner</h4>
                            <p>Richard is a game developer specializing in design, writing, and programming.  A fan of a variety of genres, he’s working on making games that have it all.  He is especially interested in the relationship between gameplay and narrative, and how those elements can work together.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/simon.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://www.instagram.com/simon_omg" target="_blank">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Simon Lu</h4>
                            <p>Simon is a games enthusiast who makes zero-based learning games. In the past year, he has devoted himself to researching how to use games to narrate good stories.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/williams.jpg" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://www.instagram.com/the.ghost.of" target="_blank">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="https://theghostof.com" target="_blank">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Williams Fincannon</h4>
                            <p>Illustrator + Designer + Creative Coder from NC, USA.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/hannah.JPG" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://www.instagram.com/hannahcorrie_" target="_blank">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>

                              <!--<li>
                                  <a href="www.hannahcorrie.com">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>-->

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Hannah Corrie</h4>
                            <p>Hannah is driven by a fascination of people, independent thought and social interactions. Her decision to swap disciplines from psychology to indie games is often met with surprise although she sees no real difference. Both are underpinned by exploration and experimentation and ultimately, whichever the discipline, her goal is to make you feel.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/jamie.png" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://twitter.com/heylisten" target="_blank">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="https://www.instagram.com/stickermonsterart" target="_blank">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="http://www.jamiesichel.com" target="_blank">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                          <h4>Jamie Sichel</h4>
                        <p>Jamie is short in stature with a fairly severe astigmatism, but what she lacks in height and sight she makes up for with an immense output of cute critter designs and a passion for video games. Jamie is interested in creating the types of games she loves to play--and that involves collecting, growing, building, customizing, and all things adorable. When she isn't making games you can find her playing them, drawing, or napping.</p>
                      </div>
                  </div>
                </div>

                <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                                <img class="team-member-avatar" src="img/students/benh.png" class="img-responsive img-circle" alt="">
                            <ul class="list-inline social-buttons">

                              <li>
                                  <a href="https://www.instagram.com/verylargeboy" target="_blank">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>

                              <li>
                                  <a href="https://benedicthenshaw.com/" target="_blank">
                                      <i class="fa fa-globe"></i>
                                  </a>
                              </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                          <h4>Ben Henshaw</h4>
                        <p>Artist and programmer; Australian-born, London-raised, currently living in Switzerland. Exploring how we think and feel in virtual space. Binary is for computers.</p>
                      </div>
                  </div>
                </div>



                <!-- <div class="col-sm-6">
                    <div class="team-member">
                        <div class="team-member-left">
                            <a href="https://twitter.com/phoenixperry" target="_blank">
                                <img class="team-member-avatar" src="img/students/phoenix.jpg" class="img-responsive img-circle" alt="">
                            </a>
                            <ul class="list-inline social-buttons">

                                <li>
                                    <a href="https://twitter.com/phoenixperry">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="http://phoenixperry.com">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="team-member-right">
                            <h4>Phoenix Perry</h4>
                            <p>Phoenix Perry creates physical games and user experiences. As an advocate for women in game development, she founded Code Liberation Foundation. In her role at Goldsmiths, University of London, she lecturers on Physical Computing and games and leads an MA in Independent Games and Experience Design.
</p>
                        </div>
                    </div>
                </div> -->





            </div>
        </div>
    </section>
